<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<#include "/public/frame/jqgridcss.html">
 <#include "/public/frame/metrnic.html">
<link href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
   <!-- jqgrid-->
<link href="${contextPath}/resources/css/animate.min.css" rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-content">
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form id="adAddForm" class="form-horizontal add-form">
								<div class="form-body">
									<div class="form-group">
										<label class="col-sm-3 control-label">广告名称：</label>
										<div class="col-sm-6">
											<span class="form-control">${ad.adName!''}</span>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label">广告图片：</label>
										<div class=" col-md-7" onclick="javascript:void(0);">
											<!-- <span class="form-control">${ad.adName!''}</span> -->
											<a href="${imageContextPath}/${ad.image}"
												title="点击查看大图" target="blank"> <img id="img"
												class="img-thumbnail"
												src="${imageContextPath}/${ad.image}"
												style="width: 200px;" />
											</a>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">广告位：</label>
										<div class="col-sm-6">
											<span class="form-control">${ad.adPosition!''}</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">URL地址：</label>
										<div class="col-sm-6">
											<span class="form-control">${ad.url!''}</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">开始时间：</label>
										<div class="col-sm-6">
											<span class="form-control" style="color: D60303;">${ad.startTime!''}</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">结束时间：</label>
										<div class="col-sm-6">
											<span class="form-control" style="color: D60303;">${ad.endTime!''}</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">广告是否生效：</label>
										<div class="col-sm-6">
											<#if ad.status == 'enable'>
											<span class="label label-info form-control" >【已生效】</span>
											<#else>
											<span class="label label-warning form-control" >【已停止】</span>
											</#if>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">排序:</label>
										<div class="col-sm-6">
											<span class="label label-info form-control" >${ad.sort}</span>
										</div>
									</div>
									
								</div>
								<div class="hr-line-dashed"></div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<#include "/public/frame/metrnicjs.html">

	<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
	<script src="${contextPath}/resources/js/common.js"></script>
 
	 
</body>
</html>