*.metadata
*.classpath
*.project
*.settings
*.log
*.myumldata
*.mymetadata
*.target
*.target/*
*/lib/*
*/bin
*~$*.doc
*~$*.docx
*~*.tmp
*.externalToolBuilders
*/src/main/java/META-INF
*/rebel.xml
*/rebel.xml
*/rebel.xml
*/rebel.xml
*/rebel.xml
*/lt-pc-web/pom.xml
*/lt-pc-web/target/*
*/lt-admin/pom.xml
*/lt-admin/target/*
*/lt-application/pom.xml
*/lt-application/target/*