<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>用户管理</title>
<link href="${contextPath}/resources/css/bootstrap.minb16a.css?v=3.3.5"
	rel="stylesheet">
<link
	href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<!-- jqgrid-->
<link
	href="${contextPath}/resources/css/plugins/jqgrid/ui.jqgridffe4.css?0820"
	rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0"
	rel="stylesheet">

<link
	href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css"
	rel="stylesheet">
<style>
/* Additional style to fix warning dialog position */
#alertmod_table_list_2 {
	top: 900px !important;
}
</style>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="row m-b-sm m-t-sm">
                          <form id="serchform">
							<div class="col-md-4">
								<a onclick="fnClickAllSave();" href="javascript:void(0);"
									class="btn btn-primary ">&nbsp;保存</i></a>
									 <select class="btn btn-primary" name="type">
                    		                  <option value="">请选择</option>
								            </select>
                                    <button type="button" class="btn btn-primary btn-search" onclick="search();"> 搜索</button>
                                    
							</div>
							</form>
						</div>
						<div class="project-list">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src="${contextPath}/resources/js/jquery.min63b9.js?v=2.1.4"></script>
	<script src="${contextPath}/resources/js/bootstrap.minb16a.js?v=3.3.5"></script>
	<script
		src="${contextPath}/resources/js/plugins/peity/jquery.peity.min.js"></script>
	<script
		src="${contextPath}/resources/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
	<script
		src="${contextPath}/resources/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
	<script src="${contextPath}/resources/js/plugins/layer/layer.js"></script>
	<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
	<script
		src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="${contextPath}/resources/js/common.js"></script>

	<script type="text/javascript">
		function closed() {
			$('#myModal').hide();
		}
		
		function search(){
		    $("#grid-table").jqGrid('setGridParam',{  
		        datatype:'json',  
		        postData:$("#serchform").serialize(), //发送数据  
		        page:1  
		    }).trigger("reloadGrid"); //重新载入 
	    }
		$(function() {
			
			grid = $('#grid-table')
					.myJqGrid(
							{
								url : "${contextPath}/system/msgSendPlan/query_user_info",
								 colNames:['昵称', '注册时间','头像','手机','用户名','操作'],
	     colModel:[
			{name:'baseInfo.nickName',label:'baseInfo.nickName',width:40},
			{name:'baseInfo.registerTime',label:'baseInfo.registerTime', width:90},
			{name:'baseInfo.headImage',label:'baseInfo.headImage', width:90,formatter:function(cellvalue, options, rowObject){
				return "<img src="+cellvalue+">";
			}} ,
			{name:'contactInfo.mobile',label:'contactInfo.mobile',width:40},
			{name:'userLoginInfo.loginName',label:'userLoginInfo.loginName',width:40},
			{name:'id',label:'id', width:90,formatter:function(cellvalue, options, rowObject){
				return "<a href='javascript:;'onclick=modifyNavigation('"+cellvalue+"') class='btn default btn-xs purple btn-primary'><i class='fa fa-edit'></i>编辑 </a>"+
				"<a style='margin-left:10px;' href='javascript:;' onclick=fnClickDel('"+cellvalue+"') class='btn btn-xs btn-primary'>删除</a>";
			}} 
		], 
								styleUI : 'Bootstrap',
								pager : '#grid-pager',
								height:"auto",
						        viewrecords:true,
						        caption:"用户列表"
							});

		});
	</script>
	<script type="text/javascript">
	
	   function fnClickAllSave(){
		　var id=$('#grid-table').jqGrid('getGridParam','selarrrow');
		  if(id.length<1){
			swal("请选择行!", "");
			return;
		  }
		  
		  swal({   title: "确定选择吗?", 
		    text: "",  
		     type: "warning",  
		      showCancelButton: true, 
		        confirmButtonColor: "#DD6B55", 
		          confirmButtonText: "确定",  
		           cancelButtonText: "取消",  
		            closeOnConfirm: false,  
		             closeOnCancel: false }, 
		             function(isConfirm){   
		             if (isConfirm) {    
		               parent.getUserIds(id);
		               var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                         parent.layer.close(index); //再执行关闭 
		                 } else {    
		                  swal("取消", "", "error");
		                     } 
		                     });
		  
		 
	     }
	</script>
</body>
</html>