<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>发送计划</title>
<#include "/public/frame/jqgridcss.html">
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="row m-b-sm m-t-sm">
							<div class="col-md-4">
								<a onclick="fnClickAdd();" data-toggle="modal" data-target="#myModal5" href="javascript:void(0);" class="btn btn-primary"> <i class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;新增发送计划</i>
								</a>
								
								<!--  <a onclick="fnClickAllDel();" href="javascript:void(0);" class="btn btn-w-m btn-danger ">&nbsp;批量删除</a> -->
							</div>
							
						</div>
						<div class="project-list">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	 <#include "/public/frame/jqgridjs.html">
     <#include "/msgSendPlan/add.html">
	<script type="text/javascript">
		function closed() {
			$('#myModal').hide();
			search();
		}
		$(function() {
			$('.btn-search').on('click', function(e) {
				search();
			});
			grid = $('#grid-table')
					.myJqGrid(
							{
								url : "${contextPath}/system/msgSendPlan/query",
								colNames : [ '发送时间','过期时间','操作' ],
								colModel : [
										{
											name : 'sendDate',
											label : 'sendDate',
											width : 40
										},
										{
											name : 'pastDueDate',
											label : 'pastDueDate',
											width : 40
										},
										{
											name : 'id',
											label : 'id',
											width : 90,
											formatter : function(cellvalue,
													options, rowObject) {
												return "<a href='javascript:void();' data-toggle='modal' data-target='#myModal5' onclick=fnClickModify('"
														+ cellvalue
														+ "') class='btn default btn-xs purple btn-primary'><i class='fa fa-edit'></i>编辑 </a>"
														+ "<a style='margin-left:10px;' href='javascript:;' onclick=fnClickDel('"
														+ cellvalue
														+ "') class='btn btn-xs btn-primary'>删除</a>";
											}
										} ],
								styleUI : 'Bootstrap',
								pager : '#grid-pager',
								height:"auto",
						        viewrecords:true,
						        caption:"发送计划列表"
							});
			load();	

		});
	</script>
	<script type="text/javascript">
		/*搜索*/
		function search() {
			var keyWord = $("input[name=keyWord]").val();
			$("#grid-table").jqGrid('setGridParam', {
				datatype : 'json',
				postData : {
					'name' : keyWord
				}, //发送数据  
				page : 1
			}).trigger("reloadGrid"); //重新载入 
		}
		/*修改*/
		function fnClickModify(id) {
			var collback = function(d) {
				$(".modal-title").html("");
				$("#clientType").val(d.clientType);
				$(".modal-title").html("站内模板编辑");
				$('input[name=msgSendPlanId]').val(d.id);
				$('input[name=sendDate]').val(d.sendDate);
				$('#msgTemplateId').val(d.template.id);
				$('#params').html(eval(d.paramsJSON));
				$(".add-form").attr('action',
						'${contextPath}/system/msgSendPlan/modify')
				$('#myModal').show();
			}
			fnAjaxGet("${contextPath}/system/msgSendPlan/edit?id="+id, '',
					collback);
		}

		
		/*添加*/
		function fnClickAdd(id) {
		    $(".modal-title").html("");
			$(".modal-title").html("站内模板新增");
			$(".add-form").attr('action', '${contextPath}/system/msgSendPlan/save')
			$('#myModal').show();
		}

		 /*批量删除*/
	     function fnClickAllDel(){
		　var id=$('#grid-table').jqGrid('getGridParam','selarrrow');
		  if(id.length<1){
			swal("请选择要删除的行!", "");
			return;
		  }
            fnAjaxDel("${contextPath}/system/msgSendPlan/" + id + "_delete", '', search);
	     }
		
		/*删除*/
		function fnClickDel(id) {
			fnAjaxDel("${contextPath}/system/msgSendPlan/" + id + "_delete", '',
					search);
		}
		
		 function refurbish(){
		  search();
	     }
		 function load(){
                 $.ajax({
						type : "post",
						url : "${contextPath}/system/msgTemplate/query_msgTemplateInfo",
						dataType : "json",
						async : true,
						success : function(data) {
							var result = "";
							if (data.length > 0) {
								for (var i = 0; i < data.length; i++) {
									if (i == 0) {
										result += "<option value=''>请选择</option>";
									}
									result += "<option value='" + data[i].id+ "'>"
											+ data[i].name
											+ "</option>";
								}
							}
							$("#msgTemplateId").html("");
							$("#msgTemplateId").html(result);
						}
					});
			}
		</script>	
	
</body>
</html>