<link rel="shortcut icon" href="favicon.ico">
<link href="${contextPath}/resources/css/bootstrap.minb16a.css?v=3.3.5" rel="stylesheet">
<link href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css" rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0" rel="stylesheet">
<!-- jqgrid-->
<link href="${contextPath}/resources/css/plugins/jqgrid/ui.jqgridffe4.css?0820" rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css" rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0" rel="stylesheet">
<link href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

<link href="${contextPath}/resources/css/plugins/iCheck/custom.css" rel="stylesheet">

