
<script src="${contextPath}/resources/js/jquery.min63b9.js?v=2.1.4"></script>
<script src="${contextPath}/resources/js/bootstrap.minb16a.js?v=3.3.5"></script>
<script src="${contextPath}/resources/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="${contextPath}/resources/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="${contextPath}/resources/js/plugins/layer/layer.js"></script>
<script src="${contextPath}/resources/js/hplus.min1fc6.js?v=4.0.0"></script>
<script type="text/javascript" src="${contextPath}/resources/js/contabs.min.js"></script>
<script src="${contextPath}/resources/js/plugins/pace/pace.min.js"></script>

<script src="${contextPath}/resources/js/plugins/peity/jquery.peity.min.js"></script>
<script src="${contextPath}/resources/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
<script src="${contextPath}/resources/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
<script src="${contextPath}/resources/js/plugins/layer/layer.js"></script>
<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
<script src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="${contextPath}/resources/js/common.js"></script>

<!-- validat -->
<script src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
<script src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
<script src="${contextPath}/resources/js/form-validate-common.js"></script>
