<link href="${contextPath}/resources/metrnic/global/plugins/font-awesome/css/font-awesome.min.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/simple-line-icons/simple-line-icons.min.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/bootstrap/css/bootstrap.min.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/uniform/css/uniform.default.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css?v=20150506" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/bootstrap-datepicker/css/datepicker3.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css?v=20150506">
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/select2/select2.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css?v=20150506"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css?v=20150506"/>
<link href="${contextPath}/resources/metrnic/global/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css?v=20150506" rel="stylesheet"/>
<link href="${contextPath}/resources/metrnic/global/plugins/jquery-file-upload/css/jquery.fileupload.css?v=20150506" rel="stylesheet"/>
<link href="${contextPath}/resources/metrnic/global/plugins/jquery-file-upload/css/jquery.fileupload-ui.css?v=20150506" rel="stylesheet"/>
<!--<link href="${contextPath}/resources/metrnic/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/bootstrap-modal/css/bootstrap-modal.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/plugins/umeditor/themes/default/css/umeditor.css?v=20150506" type="text/css" rel="stylesheet">-->
<link href="${contextPath}/resources/metrnic/global/plugins/treeTable/themes/vsStyle/treeTable.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/jstree/dist/themes/default/style.min.css"/>
<link href="${contextPath}/resources/metrnic/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN THEME STYLES -->
<link href="${contextPath}/resources/metrnic/global/css/components.css?v=20150506" id="style_components" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/global/css/plugins.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/admin/layout/css/layout.css?v=20150506" rel="stylesheet" type="text/css"/>
<link id="style_color" href="${contextPath}/resources/metrnic/admin/layout/css/themes/darkblue.css?v=20150506" rel="stylesheet" type="text/css"/>
<link href="${contextPath}/resources/metrnic/admin/layout/css/custom.css?v=20150506" rel="stylesheet" type="text/css"/>
<script src="${contextPath}/resources/metrnic/global/plugins/jquery.min.js?v=20150506" type="text/javascript"></script>







