<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>站内信模板管理</title>
<link rel="shortcut icon" href="favicon.ico">
<link href="${contextPath}/resources/css/bootstrap.minb16a.css?v=3.3.5"
	rel="stylesheet">
<link
	href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<link href="${contextPath}/resources/css/plugins/iCheck/custom.css"
	rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0"
	rel="stylesheet">
   <link href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<link rel="stylesheet" href="${contextPath}/resources/ueditor/themes/default/css/ueditor.min.css" />
<link href="${contextPath}/resources/metrnic/global/plugins/treeTable/themes/vsStyle/treeTable.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/metrnic/global/plugins/jstree/dist/themes/default/style.min.css"/>

<script type="text/javascript">
  	var contextPath = '${contextPath}';
    var plugins_webuploader = '${contextPath}/resources/js/plugins/webuploader';
    var image_servler_url = '${contextPath}/upload_image';
</script>

</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-content">
						<form class="form-horizontal add-form" action="${contextPath}/menuContents/modify" method="post">
						
						
						       <div class="form-group">
									<label class="col-sm-3 control-label">上级名称:</label>
									<div class="col-sm-6">
										<div class="input-group">
											<div class="input-icon">
												<input id="newpassword"  class="text-input form-control"  type="text" placeholder="请选择名称" readonly value="${pc.bottomMenu.name}"/>
												<input type="hidden" id="parentId" name="bottomMenuId"  class="hidden-input" value="${pc.bottomMenu.id}"/>
											</div>
											<span class="input-group-btn">
												<a class="btn btn-success" type="button" data-url='${contextPath}/bottomMemu/getPermData.html' data-current-id='' data-toggle='iceModal' data-target='#MyModalPerm'><i class="fa fa-search fa-fw"></i>选择</a>
											</span>
										</div>
									</div>
								</div>
						          <input type="hidden" name="menuContentsId" value="${pc.id}"/>
								<div class="form-group">
									<label class="col-sm-3 control-label">内容：</label>
									<div class="col-sm-9">
										<script type="text/plain" id="content" name="content" style="height:240px;">${pc.content}</script>
									</div>
								</div>
                            <div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button class="btn btn-primary btn-save" type="submit">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	 <!-- 对话框 start -->
<div class="modal fade bs-example-modal-sm" id="MyModalPerm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">类型信息</h4>
      </div>
      <div class="modal-body">
       		<div class="jstree"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default calcel" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary save">保存</button>
      </div>
    </div>
  </div>
</div>
	
	
	<script src="${contextPath}/resources/js/jquery.min63b9.js?v=2.1.4"></script>
	<script src="${contextPath}/resources/js/bootstrap.minb16a.js?v=3.3.5"></script>
	<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
	<script src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
	<script src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
	<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
	<script src="${contextPath}/resources/js/form-validate-common.js"></script>
    <script src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="${contextPath}/resources/js/common.js"></script>
	<script type="text/javascript" charset="utf-8" src="${contextPath}/resources/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="${contextPath}/resources/ueditor/ueditor.all.min.js"></script>
    
     <#include "/public/frame/metrnicjs.html">
<script type="text/javascript">
	$(function() {
	var mobileUE = UE.getEditor('content');
		$(".add-form").validate({
			rules : {
				content : {
					required : true
				}
			},
			submitHandler : function() {
				$(".add-form").ajaxSubmitForm(refurbishCollback);
			}
		});
		
		
		Metronic.init(); // init metronic core components
		Layout.init(); // init current layout
		QuickSidebar.init(); // init quick sidebar  
		
		
	});
	
	</script>
</body>
</html>
