<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>站内消息模版管理</title>
<link href="${contextPath}/resources/css/bootstrap.minb16a.css?v=3.3.5"
	rel="stylesheet">
<link
	href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<!-- jqgrid-->
<link
	href="${contextPath}/resources/css/plugins/jqgrid/ui.jqgridffe4.css?0820"
	rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0"
	rel="stylesheet">

<link
	href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css"
	rel="stylesheet">
<style>
/* Additional style to fix warning dialog position */
#alertmod_table_list_2 {
	top: 900px !important;
}
</style>
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="row m-b-sm m-t-sm">
							<div class="col-md-4">
								<a onclick="fnClickAdd();" href="javascript:void(0);" class="btn btn-primary"> <i class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;新增</i>
								</a>
								
							</div>
							
						</div>
						<div class="project-list">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="${contextPath}/resources/js/jquery.min63b9.js?v=2.1.4"></script>
	<script src="${contextPath}/resources/js/bootstrap.minb16a.js?v=3.3.5"></script>
	<script src="${contextPath}/resources/js/plugins/peity/jquery.peity.min.js"></script>
	<script src="${contextPath}/resources/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
	<script src="${contextPath}/resources/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
	<script src="${contextPath}/resources/js/plugins/layer/layer.js"></script>
	<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
	<script src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="${contextPath}/resources/js/common.js"></script>

	<script type="text/javascript">
		function closed() {
			$('#myModal').hide();
			search();
		}
		$(function() {
			$('.btn-search').on('click', function(e) {
				search();
			});
			grid = $('#grid-table')
					.myJqGrid(
							{
								url : "${contextPath}/menuContents/query",
								height : 600,
								colNames : [ '所属上级','创建时间','内容','操作' ],
								colModel : [
										{
											name : 'bottomMenu.name',
											label : 'bottomMenu.name',
											width : 40
										},
										{
											name : 'createTime',
											label : 'createTime',
											width : 40
										},
										{
											name : 'content',
											label : 'content',
											width : 90,
											ormatter : function(cellvalue,options, rowObject) {
													   return cellvalue.substring(0,50);
													}
										},
										{
											name : 'id',
											label : 'id',
											width : 90,
											formatter : function(cellvalue,
													options, rowObject) {
												return "<a href='javascript:void();' onclick=fnClickModify('"
														+ cellvalue
														+ "') class='btn default btn-xs purple btn-primary'><i class='fa fa-edit'></i>编辑 </a>"
														+ "<a style='margin-left:10px;' href='javascript:;' onclick=fnClickDel('"
														+ cellvalue
														+ "') class='btn btn-xs btn-primary'>删除</a>";
											}
										} ],
								styleUI : 'Bootstrap',
								pager : '#grid-pager',
								height:"auto",
						        viewrecords:true,
						        caption:"内容列表"
							});
							

		});
	</script>
	<script type="text/javascript">
		/*搜索*/
		function search() {
			var keyWord = $("input[name=keyWord]").val();
			$("#grid-table").jqGrid('setGridParam', {
				datatype : 'json',
				postData : {
					'name' : keyWord
				}, //发送数据  
				page : 1
			}).trigger("reloadGrid"); //重新载入 
		}
		/*修改*/
		function fnClickModify(id) {
			layer.open({
	    	    type: 2,
	    	    title:'站内模板编辑',
	    	    area: ['1000px', '730px'],
	    	    fix: false, //不固定
	    	    maxmin: true,
	    	    content: "${contextPath}/menuContents/edit?id="+id
	    	});
		}



		/*添加*/
		function fnClickAdd() {
		    layer.open({
	    	    type: 2,
	    	    title:'站内模板新增',
	    	    area: ['1000px', '730px'],
	    	    fix: false, //不固定
	    	    maxmin: true,
	    	    content: "${contextPath}/menuContents/add"
	    	}); 
		}

		
		/*删除*/
		function fnClickDel(id) {
			fnAjaxDel("${contextPath}/menuContents/" + id + "_delete", '',
					search);
		}
		
		 function refurbish(){
		  search();
	     }
		</script>	
	
</body>
</html>