<#assign contextPath=springMacroRequestContext.getContextPath() />
<link href="${contextPath}/resources/css/plugins/iCheck/custom.css"
	rel="stylesheet">

	<div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
	 <div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
			</div>
		    <form class="form-horizontal add-form" id="submitForm" action="${contextPath}/system/msgNotice/save_plan"
	method="post">
	<div class="modal-body">
		     <div class="form-group">
		        <label class="col-sm-3 control-label">站内计划发送：</label>
		        <div class="col-sm-6">
		            <select class="form-control" name="msgSendPlanId" id="msgSendPlanId">
		            </select>
		        </div>
		    </div>
		    </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button class="btn btn-primary btn-save" type="submit">发送</button>
			</div>
			</form>
		</div>
	</div>
</div>

<script
	src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
<script
	src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
<script src="${contextPath}/resources/js/form-validate-common.js"></script>
<script type="text/javascript">

	$(function() {
		$("#submitForm").validate({
			rules : {
				msgSendPlanId : {
					required : true
				}
			},
			submitHandler : function() {
				$("#submitForm").ajaxSubmitForm(saveCollback);
			}
		});
		
	});
	</script>
