<!--侧边栏-->
        <div class="leftsidebar">
            <div class="column">
                <p class="text1">我的卡车网</p>
                <p class="text2">我们结伴与你同行使命必达</p>
            </div>
            <div class="sidebar">
                <ul>
                    <li><a href="${contextPath}/intercept/userCenter/my_order?currentValue=" onclick="javascript:void(0);"><div class="back"></div><i class="icon1"></i><div class="back2">我的订单</div></a></li>
                    <li><a href="#" onclick="javascript:void(0);"><div class="back"></div><i class="icon2"></i><div class="back2">我的评价</div></a></li>
                    <li><a href="#" onclick="javascript:void(0);"><div class="back"></div><i class="icon3"></i><div class="back2">售后管理</div></a></li>
                    <li><a href="${contextPath}/intercept/userCenter/my_collection" onclick="javascript:void(0);"><div class="back"></div><i class="icon4"></i><div class="back2">我的收藏</div></a></li>
                    <li><a href="${contextPath}/intercept/userAddesses/getAddress" onclick="javascript:void(0);"><div class="back"></div><i class="icon5"></i><div class="back2">收货地址</div></a></li>
                    <li><a href="#" onclick="javascript:void(0);"><div class="back"></div><i class="icon6"></i><div class="back2">帐户中心</div></a></li>
                </ul>
            </div>
            <div class="sidebar-1">
                <div class="sidebar-top">
                我的订单我的订单
                </div>
                <ul class="clearfix">
                    <li><div class="title">标题标题标题标题</div><div class="summary"><a href="#">内容内容内容内容内容内容内容</a></div></li>
                    <li><div class="title">标题标题标题标题</div><div class="summary"><a href="#">内容内容内容内容内容内容内容</a></div></li>
                    <li><div class="title">标题标题标题标题</div><div class="summary"><a href="#">内容内容内容内容内容内容内容</a></div></li>
                    <li><div class="title">标题标题标题标题</div><div class="summary"><a href="#">内容内容内容内容内容内容内容</a></div></li>
                    <li><div class="title">标题标题标题标题</div><div class="summary"><a href="#">内容内容内容内容内容内容内容</a></div></li>
                </ul>
            </div>
        </div>
<!-- end 侧边栏-->