<!--个人信息 -->
<div class="percenter">
    <img src="${contextPath}/resources/images/perbanner.png" alt="">
    <div class="infor inforC3Cartoon">
        <div class="portrait">
            <img src="${contextPath}/resources/${login_user.headImage!''}" alt="">
        </div>
        <p>用户ID：Leonardo DiCaprio</p>
        <div class="grade">
            <span>用户等级：</span>
            <img src="${contextPath}/resources/images/grade_03.png" alt="">
            <img src="${contextPath}/resources/images/grade_02.png" alt="">
            <img src="${contextPath}/resources/images/grade_02.png" alt="">
            <img src="${contextPath}/resources/images/grade_01.png" alt="">
        </div>
        <div class="card">
            <ul class="clearfix">
                <li><a href="#">我的收货地址</a></li>
                <li><a href="#">个人资料</a></li>
                <li><a href="#">支付管理</a></li>
                <li><a href="#">我的优惠信息</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- end 个人信息-->