<#assign contextPath=springMacroRequestContext.getContextPath() />
<link href="${contextPath}/resources/css/plugins/iCheck/custom.css"
	rel="stylesheet">

		<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
	 <div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<h5 class="modal-title"><#if pc.id?exists>编辑广告位<#else>广告位新增</#if></h5>
			</div>
			<form class="form-horizontal add-form"
	action="${contextPath}/ad/adPosition/save" method="post">
	<input name="adPositionId" type="hidden" value="${pc.id!''}">
			<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">广告位名称：</label>
						<div class="col-sm-6">
							<input name="name" placeholder="请输入广告名称" type="text"
								class="form-control">
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button class="btn btn-primary btn-save" type="submit">保存</button>
			</div>
			</form>
		</div>
	</div>
</div>


<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
<script
	src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
<script
	src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
<script src="${contextPath}/resources/js/form-validate-common.js"></script>
<script type="text/javascript">
	$(function() {
		$(".add-form").validate({
			rules : {
				name : {
					required : !0,
					minlength : 2
				}
			},
			messages : {
				name : {
					required : e + "请输入正确的仓库名称",
					minlength : e + "仓库名称必须两个字符以上"
				}
			},
			submitHandler : function() {
				$(".add-form").ajaxSubmitForm(saveCollback);
			}
		});
	});
</script>
