<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>帖子版块管理</title>
<#include "/public/frame/jqgridcss.html">
</head>

<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="row m-b-sm m-t-sm">
							<div class="col-md-4">
								<a onclick="fnClickAdd();" data-toggle="modal" data-target="#myModal5" href="javascript:void(0);"
									class="btn btn-primary "> <i
									class="glyphicon glyphicon-plus"  aria-hidden="true">&nbsp;新增</i>
								</a>
								<!--  <a onclick="fnClickAllDel();" href="javascript:void(0);" class="btn btn-w-m btn-danger ">&nbsp;批量删除</a> -->
							</div>
						</div>
						<div class="project-list">
							<table id="grid-table"></table>
							<div id="grid-pager"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	  <#include "/public/frame/jqgridjs.html">

	<#include "/admin/post/forum_add.html">
	<script type="text/javascript">
		$(function() {
			$('.btn-search').on('click', function(e) {
				search();
			});
			grid = $('#grid-table')
					.myJqGrid(
							{
								url : "${contextPath}/system/post/query_forum",
								height : 300,
								colNames : [ '名称','版块类型', '操作' ],
								colModel : [
										{
											name : 'name',
											label : 'name',
											width : 40
										},
										{
											name : 'type',
											label : 'type',
											width : 90
										},
										{
											name : 'id',
											label : 'id',
											width : 90,
											formatter : function(cellvalue,
													options, rowObject) {
												return "<a href='javascript:void();' onclick=fnClickModify('"
														+ cellvalue
														+ "') data-toggle='modal' data-target='#myModal5' class='btn default btn-xs purple btn-primary'><i class='fa fa-edit'></i>编辑 </a>"
														+ "<a style='margin-left:10px;' href='javascript:;' onclick=fnClickDel('"
														+ cellvalue
														+ "') class='btn btn-xs btn-primary'>删除</a>";
											}
										} ],
								styleUI : 'Bootstrap',
								pager : '#grid-pager',
								height:"auto",
						        viewrecords:true,
						        caption:"帖子版块列表"
							});

		});
	</script>
	<script type="text/javascript">
		/*搜索*/
		function search() {
			var keyWord = $("input[name=keyWord]").val();
			$("#grid-table").jqGrid('setGridParam', {
				datatype : 'json',
				postData : {
					'name' : keyWord
				}, //发送数据  
				page : 1
			}).trigger("reloadGrid"); //重新载入 
		}
		/*修改*/
		function fnClickModify(id) {
			var collback = function(d) {
				$(".modal-title").html("");
				$(".modal-title").html("帖子版块编辑");
				$('input[name=forumId]').val(d.id);
				$('input[name=name]').val(d.name);
				$("#type").val(d.type);
				$(".add-form").attr('action',
						'${contextPath}/system/post/modifyforum')
				$('#myModal').show();
			}
			fnAjaxGet("${contextPath}/system/post/update?id="+id, '',
					collback);
		}




		/*添加*/
		function fnClickAdd(id) {
		    $(".modal-title").html("");
			$(".modal-title").html("帖子版块新增");
			$('input[name=forumId]').val('');
			$('input[name=name]').val('');
			$(".add-form").attr('action', '${contextPath}/system/post/create')
			$('#myModal').show();
		}

		 /*批量删除*/
	     function fnClickAllDel(){
		　var id=$('#grid-table').jqGrid('getGridParam','selarrrow');
		  if(id.length<1){
			swal("请选择要删除的行!", "");
			return;
		  }
            fnAjaxDel("${contextPath}/system/post/" + id + "_deleteforum", '', search);
	     }
		
		/*删除*/
		function fnClickDel(id) {
			fnAjaxDel("${contextPath}/system/post/" + id + "_deleteforum", '',
					search);
		}
		
	</script>
</body>
</html>