<#assign contextPath=springMacroRequestContext.getContextPath() />


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<#include "/public/frame/metrnic.html">
<link
	href="${contextPath}/resources/css/font-awesome.min93e3.css?v=4.4.0"
	rel="stylesheet">
<!-- jqgrid-->
<link
	href="${contextPath}/resources/css/plugins/jqgrid/ui.jqgridffe4.css?0820"
	rel="stylesheet">
<link href="${contextPath}/resources/css/animate.min.css"
	rel="stylesheet">
<link href="${contextPath}/resources/css/style.min1fc6.css?v=4.0.0"
	rel="stylesheet">

<link
	href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css"
	rel="stylesheet">
<style>
/* Additional style to fix warning dialog position */
#alertmod_table_list_2 {
	top: 900px !important;
}

li{list-style: none;margin-right:10px;}
li label{cursor: pointer;}
.Father_Title{float: left;}
</style>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-content">
						<form class="form-horizontal add-form" id="form2" action="${contextPath}/productExterior/modify" method="post">
							 <input type="hidden" value="${productExterior.id!''}" name="productExteriorId"/>
							 <input type="hidden" value="${productExterior.product.id!''}" name="productId"/>
							<div class="form-group">
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input name="name" placeholder="请输入名称" type="text" value="${productExterior.name!''}" class="form-control">
								</div>
							</div>
							
						    <div class="form-group">
						        <label class="col-sm-3 control-label">类型：</label>
						        <div class="col-sm-9">
						            <select class="form-control" name="type">
						              <option value="EXTERIOR" <#if productExterior.type=="EXTERIOR">selected</#if>>外观</option>
                                      <option value="DRIVERCAB" <#if productExterior.type=="DRIVERCAB">selected</#if>>驾驶室</option>
						              <option value="TERRITORY" <#if productExterior.type=="TERRITORY">selected</#if>>底盘</option>
						            </select>
						        </div>
						    </div>

							<div class="form-group">
								<label class="col-md-2 control-label">图片集</label>
								<div class="col-md-7">
									<span class="btn btn-success fileinput-button"> <i
										class="glyphicon glyphicon-plus"></i> <span>上传文件</span> <input
										id="imageupload" type="file" name="file" multiple="multiple">
									</span>
									<div id="imageuploadCon" class="row clearfix margin-top-10">

										<#if imageList?exists> <#list imageList?keys as key>
										<div class="thumbnail col-md-4 image-container">
											<a class="image-preview" href="javascript:(0)"><img
												src="${imageContextPath}/${imageList[key]}"
												style="max-height: 140px;"> </a> <input
												class="imageuploadInput" type="hidden" name="images"
												value="${imageList[key]}"> <span
												class="glyphicon glyphicon-remove-circle delete-image"
												style="display: none;"></span>
										</div>
										</#list> </#if>

									</div>
								</div>
							</div>

							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-8">
									<button class="btn btn-primary btn-save" type="submit">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<script src="${contextPath}/resources/js/jquery.min63b9.js?v=2.1.4"></script>
	<script src="${contextPath}/resources/js/bootstrap.minb16a.js?v=3.3.5"></script>
	<script
		src="${contextPath}/resources/js/plugins/peity/jquery.peity.min.js"></script>
	<script
		src="${contextPath}/resources/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
	<script
		src="${contextPath}/resources/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
	<script src="${contextPath}/resources/js/plugins/layer/layer.js"></script>
	<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
	<#include "/public/frame/metrnicjs.html">

	<script
		src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
	<script src="${contextPath}/resources/js/common.js"></script>
	
	<script type="text/javascript">
	jQuery(document).ready(
			function() {
				Metronic.init(); // 公共js  必须加入
				Layout.init(); //   布局js  必须加入
				QuickSidebar.init(); // 右边sidebar 必须加入
				
				$('#imageupload')
				.fileupload(
						{
							url : "${contextPath}/file/upload.html",
							dataType : 'json',
							done : function(e, data) {
								if (data.result.success) {
									var tr = "<div class='thumbnail col-md-4 image-container'>"
											+ "<a class='image-preview' href='${contextPath}/imageViewInModal.html?src=${imageContextPath}/"
											+ data.result.url
											+ "' data-toggle='modal' data-target='#accountManager'><img src='${imageContextPath}/" 
							        		+ data.result.url
							        		+ "' style='max-height: 140px;'></a>"
											+ "<input type='hidden' name='images' value='" 
							        		+ data.result.url  
							        		+ "'><span href='javascript:void(0);' class='glyphicon glyphicon-remove-circle delete-image' style='display: none;'></span></div>";
											$("#imageuploadCon")
											.append(tr);
								} else {
									alert(data.result.msg);
								}
							}
						});
						
						
						//显示隐藏图片删除按钮
						$(".image-container").live(
								"mouseover",
								function() {
									$(this).children(".delete-image").css(
											"display", "block");
								});
						$(".image-container").live(
								"mouseleave",
								function() {
									$(this).children(".delete-image").css(
											"display", "none");
								});
						//删除图片
						$(".delete-image").live("click", function() {
							$(this).parents(".image-container").remove();
						});

						$("#isDelivery").change(function() {
							if (1 == $(this).val()) {
								$("#deliveryFee").slideDown();
							} else {
								$("#deliveryFee").slideUp();
							}
						});

						$("#isLimitUser").change(function() {
							if (1 == $(this).val()) {
								$("#limitUser").slideDown();
							} else {
								$("#limitUser").slideUp();
							}
						});
		});
	</script>
	<script type="text/javascript">
	 $(function() {
	  
			$("#form2").validate({
			rules : {
				name : {
					required : true
				},
				type:{
				required : true
				}
			},
			messages : {
				naem : {
					required : "请输入正确的名称"
				}
			},
			submitHandler:function(){
				$("#form2").ajaxSubmitForm(refurbishCollback);
	          
			}
		});
		
		
	});
	</script>
</body>
</html>




