<#assign contextPath=springMacroRequestContext.getContextPath() />
<link rel="stylesheet" href="${contextPath}/resources/css/pc/reset.css">
<link rel="stylesheet" href="${contextPath}/resources/css/pc/herder.css">

<!-- 头部 -->
<div class="head">
        <div class="nav-top">
            <div class="content">
               <div class="flt"><a href="${contextPath}">欢迎光临卡车网</a></div>
               <ul class="flr">
                   <#if login_user??>
                   <li> <a class="curr" href="${contextPath}/intercept/userCenter/my_order.html?currentValue="><span id="alreadyLogin">${login_user.nickName}</span></a> </li>
                   <li><a href="${contextPath}/login/logout">退出</a></li>
                   <#else>
                   <li><a class="curr" href="${contextPath}/login">亲！请登录</a></li>
                   <li><a href="${contextPath}/register">免费注册</a></li>
                   </#if>
                   <li><a href="${contextPath}/intercept/userCenter/my_order.html?currentValue=">我的卡车网</a></li>
                   <li><a href="${contextPath}/intercept/userCenter/my_order.html?currentValue=">我的订单</a></li>
                   <li><a href="#">物流中心</a></li>
                   <li><a href="#">卖家中心</a></li>
                   <li><a href="#">联系客服</a></li>
                   <li><a href="#">帮助中心</a></li>
                   
               </ul>
            </div>
        </div>
        
</div>
   <!-- end 导航 -->
<!-- end 头部 -->