<#assign contextPath=springMacroRequestContext.getContextPath() />
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<#include "/public/frame/jqgridcss.html">
 <#include "/public/frame/metrnic.html">
   <link href="${contextPath}/resources/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox">
					<div class="ibox-content">

										<div class="portlet-body form">
											<!-- BEGIN FORM-->
											<form class="form-horizontal add-form" action="${contextPath}/system/banner/modify" method="post">
											<input type="hidden" name="bannerId" value="${banner.id}">
												<div class="form-body">
														<div class="form-group">
															<label class="control-label col-md-2">标题:</label>
															<div class="col-md-8">
																<input type="text" name="title" value="${banner.title}" class="form-control" />
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2">banner位置:</label>
															<div class="col-md-4">
																<select class="form-control" name="type">
																	<option value="1" <#if banner.type=='1'>selected="selected"</#if>>首页</option>
																	<option value="2" <#if banner.type=='2'>selected="selected"</#if>>二级首页</option>
																	<option value="3" <#if banner.type=='3'>selected="selected"</#if>>三级首页</option>
																	<option value="4" <#if banner.type=='4'>selected="selected"</#if>>广告页面</option>
																</select>
															</div>
														</div>
														
														<div class="form-group">
															<label class="control-label col-md-2">图片:</label>
															<div class="col-md-7">
																<span class="btn btn-success fileinput-button"> <i
																	class="glyphicon glyphicon-plus"></i> <span>上传文件</span>
																	<input id="fileupload" type="file" name="file">
																	<input id="fileuploadInput" type="hidden" value="${banner.image}" name="image">
																</span> <img id="img" class="img-thumbnail" src="<#if banner.image?if_exists>${imageContextPath}/${banner.image}</#if>" style="width: 100px; height:66px; <#if '' == banner.image>display: none;</#if>"/>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-2">路径:</label>
															<div class="col-md-4">
																<input type="text" name="url" value="${banner.url}" class="form-control" />
															</div>
														</div>
														
														<div class="form-group">
															<label class="control-label col-md-2">排序:</label>
															<div class="col-md-4">
																<input type="text" name="sort" value="${banner.sort}" class="form-control" />
															</div>
														</div>


												</div>
													 <div class="hr-line-dashed"></div>
														<div class="form-group">
															<div class="col-sm-offset-3 col-sm-8">
																<button class="btn green" type="submit">保存</button>
															</div>
														</div>
											</form>
											<!-- END FORM-->
										</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<#include "/public/frame/metrnicjs.html">
	
<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
<script src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
<script src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
<script src="${contextPath}/resources/js/form-validate-common.js"></script>
 <script src="${contextPath}/resources/js/plugins/sweetalert/sweetalert.min.js"></script>
 <script src="${contextPath}/resources/js/common.js"></script>
	<script>
		jQuery(document).ready(
				function() {
					Metronic.init(); // 公共js  必须加入
					Layout.init(); //   布局js  必须加入
					QuickSidebar.init(); // 右边sidebar 必须加入

					$('#fileupload').fileupload(
					
							{
								url : "${contextPath}/file/upload",
								dataType : 'json',
								done : function(e, data) {
								   $(this).next().attr("value",data.result.url);
								   $(this).parent().next().attr("src","${imageContextPath}/"+data.result.url).css("display", "inline");
									 
								}
							});
							

				});
	</script>
	
	<script type="text/javascript">
	 $(function() {
	  
		$(".add-form").validate({
			rules : {
				title : {
					required : !0,
					minlength : 2
				},
				url : {
					required : true
				},
				type:{
				required : true
				},
				sort : {
							maxlength : 10,
							required : true,
							digits : true
						}
			},
			messages : {
				title : {
					required : e + "请输入正确的标题",
					minlength : e + "标题名称必须两个字符以上"
				},
				sort:{
				required : "请输入排序",
							maxlength : "长度不能大于10",
							digits : "必须为整数"
				}
			},
			submitHandler:function(){
				$(".add-form").ajaxSubmitForm(refurbishCollback);
	          
			}
		})
		
		
	});
	</script>
</body>
</html>