<#assign contextPath=springMacroRequestContext.getContextPath() />
<link href="${contextPath}/resources/css/plugins/iCheck/custom.css"
	rel="stylesheet">

	<div class="modal inmodal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
	 <div class="modal-dialog modal-lg">
		<div class="modal-content animated bounceInRight">
			<div class="modal-header">
				<h5 class="modal-title">产品类型新增</h5>
			</div>
			<form  class="form-horizontal add-form" action="${contextPath}/productCategory/save" method="post">
	<input name="productCategoryId" type="hidden" value="${pc.id}">
			<div class="modal-body">
					<div class="form-group">
						<label class="col-sm-3 control-label">产品类型名称：</label>
						<div class="col-sm-6">
							<input name="name" placeholder="请输入产品类型" type="text"
								class="form-control">
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label">上级资源</label>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-icon">
									<i class="fa fa-search fa-fw"></i>
									<input id="newpassword"  class="text-input form-control" type="text" placeholder="请选择上级分类" readonly value="">
									<input type="hidden" id="parentId" name="parentId" class="hidden-input" value=""/>
								</div>
								<span class="input-group-btn">
									<a class="btn blue" type="button" data-url='${contextPath}/productCategory/getPermData.html' data-current-id='' data-toggle='iceModal' data-target='#MyModalPerm'><i class="fa fa-search fa-fw"></i>选择</a>
								</span>
							</div>
						</div>
					</div>

					
					 <div class="form-group">
								<label class="col-sm-3 control-label">排序</label>
								<div class="col-sm-6">
								    <input id="sort" class="form-control"  name="sort" type="text" >
								</div>
							</div>
					
			<div class="modal-footer">
				<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
				<button class="btn btn-primary btn-save" type="submit">保存</button>
			</div>
			</div>
			</form>
		</div>
	</div>
</div>


<!-- 对话框 start -->
<div class="modal fade bs-example-modal-sm" id="MyModalPerm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加信息</h4>
      </div>
      <div class="modal-body">
       		<div class="jstree"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default calcel" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary save">保存</button>
      </div>
    </div>
  </div>
</div>
<!-- 对话框 end -->


<script src="${contextPath}/resources/js/content.mine209.js?v=1.0.0"></script>
<script
	src="${contextPath}/resources/js/plugins/validate/jquery.validate.min.js"></script>
<script
	src="${contextPath}/resources/js/plugins/validate/messages_zh.min.js"></script>
<script src="${contextPath}/resources/js/plugins/iCheck/icheck.min.js"></script>
<script src="${contextPath}/resources/js/form-validate-common.js"></script>

<script type="text/javascript">
   $(function() {
		$(".add-form").validate({
			rules : {
				name : {
					required : !0,
					minlength : 2
				},sort : {
							maxlength : 10,
							required : true,
							digits : true
						}
				
			},
			messages : {
				name : {
					required : e + "请输入正确的商家名称",
					minlength : e + "资源名称必须两个字符以上"
				}
			},
			submitHandler : function() {
				$(".add-form").ajaxSubmitForm(saveCollback);
			}
		});
	});


</script>
